body {
  width: 100%;
  height: 100vh;
  font-family: "Josefin Sans", sans-serif;
}

.container {
  display: flex;
}

.description {
  display: flex;
}

.label,
.message,
.text,
.form-email {
  width: 60%;
}

.message h1,
.text p {
  color: hsl(0, 36%, 70%);
}

.text p {
  font-size: 16px;
}

#coming {
  color: black;
}
.photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.photo img {
  width: 100%;
  height: 100%;
}

#email {
  width: 90%;
  height: 50px;
  border-radius: 100px;
  overflow: hidden;
  border-color: hsl(0, 6%, 24%);
  color: hsl(0, 93%, 68%);
}

#arrow {
  width: 100px;
  height: 56px;
  border-radius: 100px;
  border: none;
  overflow: hidden;
  color: white;
  background: linear-gradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  font-size: 30px;
  position: absolute;
  left: 38%;
}

#arrow:hover {
  background: linear-gradient(hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}
